[core]
	excludesfile = ~/.cvsignore
	pager = less -FSRX
	abbrev = 12
[pretty]
	fixes = Fixes: %h (\"%s\")
[alias]
	tree = log --graph --oneline --decorate --all
	st = status
	ci = commit
	co = checkout
	br = branch
[push]
	default = matching
[include]
	path = .gitconfig.local
