[core]
	excludesfile = ~/.cvsignore
	pager = less -FSRX
	abbrev = 12
[pretty]
	fixes = Fixes: %h (\"%s\")
[alias]
	wip = tlog origin/HEAD..HEAD
	tree = tlog --all
	tlog = log --graph --oneline --decorate
	st = status
	ci = commit
	co = checkout
	cp = cherry-pick
	br = branch
[push]
	default = matching
[init]
	defaultBranch = master
[include]
	path = .gitconfig.local
