# Local configuration files
*.local
!.local

# Vim plugins and temporaries
**/.vim/temp/
**/.vim/vendor/
**/.vim/bundle/

# Ignore ncmpcpp error log
**/.ncmpcpp/error.log

# Ignore mpd files
**/mpd/playlists
**/mpd/database
**/mpd/log
**/mpd/pid
**/mpd/state
**/mpd/sticker.sql
