# Local configuration files
*.local
!.local

# Ignore logs
*.log

# Ignore python byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Ignore old files
*.bak

# Neovim plugins
**/.config/nvim/plugin/

# Vim plugins and temporaries
**/.vim/.netrwhist
**/.vim/temp/
**/.vim/spell/

# Ignore mpd database files
**/mpd/playlists
**/mpd/database
**/mpd/log
**/mpd/pid
**/mpd/state
**/mpd/sticker.sql

# Ignore mail files
**/mail/.mbsyncrc
**/mail/**/default.target.wants
