# Local configuration files
*.local
!.local

# Ignore logs
*.log

# Ignore python byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Ignore old files
*.bak

# Vim plugins and temporaries
**/.vim/.netrwhist
**/.vim/autoload/plug.vim
**/.vim/temp/
**/.vim/plugged/
**/.vim/spell/

# Ignore mpd database files
**/mpd/playlists
**/mpd/database
**/mpd/log
**/mpd/pid
**/mpd/state
**/mpd/sticker.sql
