# Snippets for shell script file type

snippet "^#" "Bash hash-bang" "snip.line == 0" re
#!/usr/bin/env ${1:bash}
$0
endsnippet

snippet a "Bash alias declaration" b
alias ${1:name}='${2:command}'$0
endsnippet

snippet i "Bash if statement" b
if [ ${1:<condition>} ]
then
	${2:${VISUAL:# Insert code here}}
fi$0
endsnippet

snippet f "Bash function declaration" b
function ${1:name}()
{
	${2:${VISUAL:# Insert code here}}
}$0
endsnippet
