! vim: ft=xdefaults

! Set terminal colors to use the palette from moonfly theme.
*background: #080808
*foreground: #bdbdbd

*color0: #323437
*color1: #ff5d5d
*color2: #8cc85f
*color3: #e3c78a
*color4: #80a0ff
*color5: #cf87e8
*color6: #79dac8
*color7: #c6c6c6

*color8: #949494
*color9: #ff5189
*color10: #36c692
*color11: #c6c684
*color12: #74b2ff
*color13: #ae81ff
*color14: #85dc85
*color15: #e4e4e4

! xterm
XTerm*Geometry: 291x85
XTerm*termName: xterm-256color
XTerm*faceName: terminus:size=12
XTerm*locale: true
XTerm*metaSendsEscape: true
XTerm*allowWindowOps: true
XTerm*selectToClipboard: true
XTerm*visualBell: true

! rxvt-unicode
URxvt*geometry: 291x85
URxvt*termName: xterm-256color
URxvt*faceName: terminus:size=12
URxvt*scrollBar: false
URxvt*depth: 32
URxvt*background: rgba:0000/0000/0200/dddd
URxvt.urgentOnBell: true
URxvt.perl-ext-common: fullscreen
URxvt.keysym.Meta-Return: perl:fullscreen:switch
